label {
	color: blue;
}

span.c1 {
	font-size: 16px;
	font-family: bold;
}

/* Span C2 */
.AcceptSheduleContainer {
	padding: 20px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 12px;
	border-color: #dfdfdf;
}

.AcceptSheduleHeaderSpan {
	background-color: #dfdfdf;
	display: inline-block;
	padding: 0.3em 1em;
	border-radius: 3px;
}
